body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  margin: 0px;
}
.calling{
max-width: 1200px;
object-fit: contain;
}

#get-started{
  background-color: #47E4C2; 
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-size: .8em;;
}

#get-started:hover{
  background: rgb(57, 184, 157);
}



body, html {
  height: 100%;
}


.hero-image {

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


height: 50%; 
/* width: 100%; */
/* Position and center the image to scale nicely on all screens */
/* background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative; */
}

/* Place text in the middle of the image */
.hero-text {
text-align: left;
position: absolute;
top: 60%;
left: 40%;
transform: translate(-50%, -50%);
color: white;
}

.navigator{
  background-color: #212121; 
  color: #47E4C2;
}

.step-holder{
  background-color: blueviolet;
  height: 20px;
}

#how-it-works{
  text-align: center;
}

.blue-box{
  width:80%;
  height:30em;
  background-color: white;
  float: center;
  margin-left: 10%;
  margin-right: 10%;
}

.column {
  float: left;
  width: 25%;
}

.blue-box:after {
  content: "";
  display: table;
  clear: both;
}

.step-description{
  margin-left:15%;
  margin-right:15%;
  margin-top: 10%;

}